<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Eat-Da-Burger</h1>
    <p class="lead">A restaurant app that lets users input the names of burgers they'd like to eat.</p>
    <p>Whenever a user submits a burger's name, your app will display the burger on the left side of the page -- waiting
      to be devoured.</p>
  </div>

  {{!-- User Input Burger --}}
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <form class="create-form">
        <div class="form-header">
          <h2>Can I Take your Order</h2></div>
        <div class="form-group">
          <label for="burger">Burger Type</label>
          <input type="text" class="form-control" id="addburger" name="burger">
        </div>
        <button type="submit"  class="btn btn-warning btn-lg active" id="addburger">Order</button>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel">
        <div class="panel-heading">
          <h2>Burgers Ordered</h2></div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <span> {{this.id}} - {{this.burger_name}}</span>
             <button type="button" class="btn btn-danbger btn-md" id="devour-burger" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span>Devour Burger</span></button>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel">
        <div class="panel-heading">
          <h2>Order Pick Up</h2>
        </div>
          <div class="panel-body">
         <ul>
            {{#each burgers}}
            {{#if devoured}}
            <span> {{this.id}} - {{this.burger_name}}</span>
            {{/if}}
            {{/each}}
          </ul>
          </div>
      </div>
  </div>

</div>
{{!-- container End --}}